<form autocomplete="off">
    <div class="p-5 flex flex-column flex-auto">

        <label class="font-small">Password</label>
        <input autocomplete="off" class="mt-1" [ngModelOptions]="{standalone: true}" [(ngModel)]="inputPsw"
            type="password" pInputText>
        <label class="font-small mt-4">{{'common.repeat' | translate}} password</label>
        <input autocomplete="off" class="mt-1" [ngModelOptions]="{standalone: true}" [(ngModel)]="inputRepeatPsw"
            type="password" pInputText>
        <div class="col-12 fromEnd">
            <button pButton icon="pi pi-check" [loading]="waitingResult"
                [disabled]="!inputPsw || !inputRepeatPsw || inputPsw != inputRepeatPsw" (click)="saveClicked()" pRipple
                label="{{'common.save' | translate}}" class="w-auto mt-3"></button>
        </div>


    </div>
</form>